.container {
  /* position: relative; */
  /* top: 50%; */
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btn {
  height: 65px;
  width: 65px;
  border-radius: 100%;
  background-color: #990000;
  font-size: 1.5rem;
  color: #ccc;
  border: 5px solid #232931;
  transition: 0.3s;
}

.btn:hover {
  background-color: #BA110C;
}

.btn-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}


/* @media(max-width:460px) {
  .container {
    display: grid;
    justify-items: center;


    margin-top: 50%;
  }
} */
